{% extends "base.html" %}

{% block extra_css %}
<style>
    .login-container {
        max-width: 10000px;
        margin: 60px auto;
        padding: 30px;
        background-color: lightgrey;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    }

    .login-container h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .login-container form p {
        margin-bottom: 15px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        height: 45px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-container input[type="submit"] {
        width: 100%;
        height: 45px;
        background-color: #FF9900;
        color: #232F3E;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    .login-container input[type="submit"]:hover {
        background-color: #E68A00;
    }
</style>
{% endblock %}



{% block content %}

    <div class="login-container">
        <h2>Contact us</h2>
        <p>We are available here to help you <span style="color: red;"> 24/7</span>.</p>
        <p> <span style="font-size:130%;text-align: center;">Phone:</span> +444839249380</p>
        <p><span style="font-size:130%;text-align: center;">Email:</span> <span style="color:blue;">TLevels.Support@amazon.com</span></p>
    </div>
{% endblock %}
